<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header" style="background-color: #000000; padding: 30px 20px; text-align: center;">
    <img src="https://play-lh.googleusercontent.com/Ak2IDoXHLKPfV2c4xodBVna8vQ-XcQqeq3Gf4nGphOyOKoEwGQUuBAoaUxyh8w0nYQ=s188-rw"
         alt="PGSA Developer"
         style="
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            display: inline-block;
         ">
    <p style="color: #FFFFFF; margin: 0; font-size: 14px;">
        Developer
    </p>
</div>
</body>
</html>